*.iml
*.idea
*~
.vagrant/
.DS_Store
target/
.project
.settings/
.classpath
vespaapps_index.json
open_index.json
_site/
*.pem
test/__pycache__
_work/
links-to-check.html
vespa-feed-client-cli/
vespa-feed-client-cli.zip
**/__pycache__/