</div>

<div class="footer">
    <div class="links">
        <ul>
            <li><a href="https://docs.vespa.ai/en/use-case-shopping.html">About</a></li>
            <li><a href="https://docs.vespa.ai">Documentation</a></li>
            <li><a href="https://vespa.ai">Vespa.ai</a></li>
        </ul>
    </div>
</div>

</div>

</body>

</html>

