html, body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0;
}

hi {
  background-color: #ff0;
}

#wrapper {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0;
}

#header {
  background: #1a7db6;
}

#title {
  color: #fff;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0;
}

#input-wrapper {
  padding-left:  2em;
  padding-top: 1em;
  padding-bottom: 2em;
}

#input-field {
  background: #3f9dd8;
  color: #fff;
  border-radius: 2px 0 0 2px;
  border: 0;
  box-shadow: rgba(0.0, 0.0, 0.0, 0.075) 0px 1px 1px 0px inset;
  padding: 6px 12px;
  height 2em;
}

#input-field::placeholder {
  color: #fff;
}

#output-wrapper {
  color: #000;
  padding: 2em;
}

.result {
  margin-bottom: 2em;
}

.result-title {
  color: #1a7db6;
}

.result-content {
}

.result-path {
  color: #3c763d;
}
