# torch 2.0 has an ONNX opset mismatch with the current code, use 1 until fixed. ToDo
torch ==2.*

torchvision
ftfy
regex
tqdm
pyvespa >= 0.34.0
ipywidgets
plotly
streamlit
matplotlib
tenacity
git+https://github.com/openai/CLIP.git
