---
name: Build Sample Apps

on:
  push:
    branches: ["master"]
    paths-ignore:
      - Gemfile.lock
  pull_request:
    branches: ["master"]
    paths-ignore:
      - Gemfile.lock

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build
        run: |
          mvn -V --batch-mode --no-snapshot-updates install
