name: Verify Guides (billion scale vector search)

on:
  workflow_dispatch: # Allow manual triggering of this workflow.

  push:
    branches: ["master"]
    paths:
      - ".github/workflows/verify-guides-billion-vector.yml" # Test changes to this file
      - "billion-scale-vector-search/"

jobs:
  test:
    uses: vespa-engine/gh-actions/.github/workflows/verify-markdown-guides.yml@main
    with:
      test-file: "billion-scale-vector-search/README.md"
